.numtext {
  display: inline-flex;
  gap: 10px;
  font-family: monospace;
  background: #282a3a;
  border-radius: 2px;
  padding: 20px 10px;
}

.codearea {
  overflow-y: hidden;
  padding: 0;
  border: 0;
  background: #282a3a;
  color: #FFF;
  min-width: 1300px;
  outline: none;
  resize: none;
}

.line-nums {
  width: 20px;
  text-align: right;
}

.line-nums span::before {
  content: attr(number);
  display: block;
  color: #506882;
}